<p>You can attach both photos and videos to this post. Below, you will find areas to upload and manage these items.</p>
<p>If your browser supports HTML5, you can simply drag/drop a file to the appropriate uploader. If not, you can click the 'Add Files' button in the bottom left corner of the uploader window.</p>
<p>The uploaders will accept jpg, png, and gif formats for pictures. Accepted video types are mp4, webm, and ogv.</p>
<p>Once you have added your items, simply click the 'Start Upload' button.</p>